extends ./layout.jade

block title
  | 404 - Page not found

block extra-head
  style
    | h1 {font-size: 50vmin;
    |     text-shadow: rgba(80,0,0,.2) 0px 19px 50px;
    |    }

block body    
  .header.clearfix
    h1.text-muted.text-center 404
  .bg-danger.jumbotron
    h2.text-danger.text-center Requested page does not exist.

