extends ./layout.jade

block title
  | #{msg} - Error

block body    
  .header.clearfix
    h1.text-muted Error
  .jumbotron.bg-danger
    h3.text-danger #{msg}

block body-wrap
  .container
    block body
