doctype html
html
  head
    title      
      block title
        | Home server
    meta(charset="utf8")
    meta(description=meta_description)
    //- not really importnant:
    meta(keywords=meta_keywords)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(href="/css/helpers.css", rel="stylesheet")
    link(href="/css/sticky-footer.css", rel="stylesheet")
    script(defer, src="/js/bundle.js")
    block extra-head
  body
    block body-wrap
      .container-fluid
        block body
    footer.footer
      .container
        p.text-muted.pull-left
          | Thank you for DNS, 
          a(href="http://freedns.afraid.org/") FreeDNS
          | .
        p.text-muted.pull-right Maa home server


