extends ./layout.jade

block title
  | #{msg} - Success

block body    
  .header.clearfix
    h1.text-muted Success
  .row.jumbotron.bg-success.alert.alert-success
    h3.col-sm-12.text-success #{msg}
