extends ./layout.jade

block title
  | #{title}

block body
  .header.clearfix
    h1.text-muted Direct file uploader
  form.form-horizontal.jumbotron(role="form",
      action=action, method="post", enctype="multipart/form-data")
    .form-group.key
      label.control-label.col-sm-2(for="key") Key
      .col-sm-10
        input.form-control(type="text", name="key", id="key", placeholder="Key")
    .form-group.file
      label.control-label.col-sm-2(for="toUpload") Select file to upload
      .col-sm-10
        // col-sm-12 ~== width:100%
        input.col-sm-12(type="file", name=fFileId, id="toUpload")
    input.submit.btn.btn-primary(type="submit", value="Upload")
    
